<p-tabView styleClass="tabview-custom" (onChange)="onTabChange($event)">
    <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="pi pi-user"></i>
            <span>Characters</span>
        </ng-template>
        <app-characters></app-characters>
    </p-tabPanel>
    <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="pi pi-database"></i>
            <span>Audit</span>
        </ng-template>
        <app-audit></app-audit>
    </p-tabPanel>
</p-tabView>
